<html>
<head>
    <title>Welcome to Unimeet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" style="background-color:#FFFFFF;  font-family:Arial,serif; margin:0; padding:0; min-width: 100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">
</body>
    <!-- Start Background -->
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
        <tr>
            <td width="100%" valign="top" align="center">
                <!-- START HEADER  -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="30" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <!-- Start Container  -->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" align="center" mc:label="the_logo" mc:edit="the_logo">
                                        <h1>Καλωσήρθες στο Unimeet!<h1>
                                    </td>
                                </tr>
                            </table>
                            <!-- Start Container  -->
                        </td>
                    </tr>
                </table>
                <!-- END HEADER  -->

                <!-- START HERO  -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                    <tr>
                        <td align="center">
                            <!-- Start Container  -->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" align="center" mc:label="the_banner" mc:edit="the_banner">

                                        <img src="https://media.giphy.com/media/brsEO1JayBVja/giphy.gif" width="200" height="125" style="margin:0; padding:0; border:none; display:block; border-radius:8px;" border="0" class="imgClass" alt="" mc:edit="the_image" />

                                    </td>
                                </tr>
                            </table>
                            <!-- Start Container  -->
                        </td>
                    </tr>
                    <tr>
                        <td height="40" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                </table>
                <!-- END HERO  -->

                <!-- START MESSAGE  -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                    <tr>
                        <td align="center">

                            <!-- Start Container  -->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" align="center">

                                        <table width="500" class="mobile">
                                            <tr>
                                                <td>
                                                    Συνδέσου στο Unimeet με τους παρακάτω κωδικούς:<br>
                                                    <b>Username</b>: {}<br>
                                                    <b>Password</b>: {}<br>
                                                    ή απλά πάτησε το κουμπί:<br>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="font-size:10px; line-height:10px;"></td>
                                </tr>
                                <tr>
                                    <td width="600" class="mobile" align="center">

                                        <!-- Start Button -->
                                        <table width="170" cellpadding="0" cellspacing="0" align="center" border="0">
                                            <tr>
                                                <td width="170" height="46" bgcolor="#40a7ff" align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; line-height:18px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; font-weight:bold;" mc:label="the_btnText" mc:edit="the_btnText">
                                                <a href="https://unimeet.gr" target="_blank" alias="" style="font-family: Arial, sans-serif; text-decoration: none; color: #ffffff;"><span style="font-size:23px;">Ξεκίνα chat &rsaquo;</span></a>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- End Button -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="45" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                </table>
                <!-- END MESSAGE  -->

                <!-- START FOOTER  -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f6f6f6">
                    <tr>
                        <td height="40" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                    <tr>
                        <td align="center">

                            <!-- Start Container  -->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                <tr>
                                    <td width="600" class="mobile" align="center">

                                        <table width="450" class="mobile">
                                            <tr>
                                                <td align="center" style="font-family:arial; font-size:12px; line-height:18px; color:#aeaeae;" mc:label="the_terms" mc:edit="the_terms">
                                                    Έλαβες αυτό το email επειδή έκανες εγγραφή στο <a href="https://unimeet.gr">Unimeet</a>. Αν δεν έκανες εγγραφή ή έλαβες το email καταλάθος παρακαλώ απάντησε στο παρόν email για να ενημερώσεις την ομάδα του Unimeet.
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="font-size:10px; line-height:10px;"></td>
                                </tr>
                                <tr>
                                    <td width="600" class="mobile"align="center" mc:label="the_copyright" mc:edit="the_copyright">

                                        <div className="copyright text-muted text-right">© 2017 Unimeet. <a href="https://github.com/dimkarakostas/unimeet" target="_blank">MIT licensed</a>, some rights reserved.</div>

                                    </td>
                                </tr>
                            </table>
                            <!-- Start Container  -->

                        </td>
                    </tr>
                    <tr>
                        <td height="40" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                </table>
                <!-- END FOOTER  -->
            </td>
        </tr>
    </table>
    <!-- End Background -->
</html>
