[Unit]
Description=Unimeet Realtime Service
Documentation=https://github.com/dimkarakostas/unimeet
After=network.target

[Service]
ExecStart=/path/to/node /path/to/unimeet/realtime/index.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=unimeet_realtime
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
