body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav {
    font-weight: 700;
}

.dropdown-list {
    float: right;
}

.dropdown-menu {
    margin-top: 1px;
    border: none;
}

.dropdown-menu>.divider {
    margin-left: 9px;
    margin-right: 9px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.nav li a:focus,
.nav li a:hover {
    background-color: #f8f8f8;
}

@media(min-width:767px) {
    .dropdown-menu:after {
        content:"";
        position: absolute;
        right: 10px;
        top: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17px 17px 17px;
        border-color: transparent transparent #ffffff transparent;
        z-index:9998;
    }
}

.navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
}

.modal-header {
    font-weight: 700;
    text-align: center;
}

.modal-body {
    padding-left: 20px;
    max-height: 300px;
    overflow-y: auto;
}

@media (min-height: 500px) {
    .modal-body {
        max-height: 450px;
    }
}

@media (min-height: 800px) {
    .modal-body {
        max-height: 650px;
    }
}

.modal-footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.modal-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.modal-tab-menu a {
    margin-bottom: 0;
}

.modal-tab-menu a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

.modal-tab-menu a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

.modal-tab-menu a.active {
    background-color: #5cb85c;
    color: #f8f8f8;
}

.modal-tab-menu a.active:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5cb85c;
}

/* Remove the bottom border from all children except last to
   avoid double border line between elements */
.modal-tab-menu a:not(:last-child) {
    border-bottom: 0px;
}

.modal-tab-menu a.active,
.modal-tab-menu a.active:focus,
.modal-tab-menu a.active:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.modal-tab-content {
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
}

.modal-tab-content:not(.active) {
    display: none;
}

.universities {
    padding-top: 15px;
    text-align: center;
}

.uniCheck,
.uniCheckOne,
.uniCheckAll {
    cursor: pointer;
}

.user-sex table tr td,
.interested-sex table tr td {
    padding: 0 5px;
}

.user-sex {
    padding-bottom: 40px;
}

.forgot-password {
    padding-left: 15px;
}

.delete-account-setting {
    padding-top: 10px;
}

.delete-account-setting>h4 {
    color: #d9534f;
}

.help-modal-row .settings-modal-element {
    padding-bottom: 15px;
}

.help-modal-row a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    background: #075698; /* default background for browsers without gradient support */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
}

.help-modal-row a:focus {
    color: #ffffff;
}

.help-modal-row a:hover {
    color: #000000;
}

.chat {
    list-style: none;
    margin: 50px auto;
    padding: 0;
}

.chat li {
    outline: none;
}

.chat li.left .chat-body {
    margin: 0 40px;
    text-align: left;
}

.chat li.right .chat-body {
    margin: 0 40px;
    text-align: right;
}

.chat li .chat-body .chat-message {
    position: relative;
    padding: 5px 10px;
    display: inline-block;
    max-width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.chat li.right .chat-body .chat-message {
    color: #ffffff;

    background: #075698; /* default background for browsers without gradient support */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
}

.chat li.right .chat-body .chat-message::selection,
.chat li.right .chat-body .chat-message::-moz-selection {
    background: #f8f8f8;
}

.chat li.left .chat-message {
    background: #eee;
}

#btn-next {
    margin-right: 5px;
}

#btn-send {
    margin-left: 5px;
}

#text-input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px ;
}
