.navbar-form .form-group {
    vertical-align: top;
}

.welcome-forgot-password {
    padding-top: 7px;
    cursor: pointer;
}

.intro-section {
    padding-top: 70px;

    background: url(./static/girl_boy_blurred.jpg) no-repeat fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    color: #f8f8f8;
    padding-bottom: 60px;
}

.hello-message {
    position: relative;
    padding-left: 20px;
}

.hello-message h1 {
    font-size: 3.5em;
    padding-top: 45px;
    padding-bottom: 15px;
}

.hello-message h3 {
    font-size: 1.5em;
}

.hello-message table {
    font-size: 1.5em;
}

.hello-message td {
    padding: 20px 0;
}

.hello-message i {
    padding: 0 10px;
}

.form-container {
    color: #000000;
    margin: 120px 0;
    width: auto;
    background-color: #f8f8f8;
}

.form-container > h4 {
    padding: 0;
}

.signup-form {
    position: relative;
}

.signup-form .popover.bottom {
    margin-top: 43px;
}

#btn-signup {
    margin-top: 8px;
}

@media(min-width:768px) {
    #login-form {
        display: none;
    }
}

@media(max-width:767px) {
    .hello-message h1,
    .hello-message table {
        display: none;
    }
    .form-container {
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 5px;
    }
    .form-container > hr {
        margin-top: 0;
        margin-bottom: 0;
    }
    .signup-form {
        position: relative;
    }
}
