.navbar-form .form-group {
    vertical-align: top;
}

.welcome-forgot-password {
    padding-top: 7px;
    cursor: pointer;
}

.intro-section {
    padding-top: 70px;

    background: url(./static/girl_boy_blurred.jpg) no-repeat fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    color: #f8f8f8;
    padding-bottom: 60px;
}

.form-container {
    color: #000000;
    margin: 70px 0;
    width: auto;
    background-color: #f8f8f8;
}

.form-container > h4 {
    padding: 0;
}

.signup-form {
    position: relative;
}

.signup-form .email-error {
    margin-top: 10px;
}

.signup-form .form-control {
    width: 50%;
    display: inline;
}

#email-disclaimer {
    margin-top: 20px;
}

@media(min-width:768px) {
    #login-form {
        display: none;
    }
}

@media(max-width:767px) {
    .form-container {
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 5px;
    }
    .form-container > hr {
        margin-top: 0;
        margin-bottom: 0;
    }
    .signup-form {
        position: relative;
    }

    .login-form .form-control {
        width: 50%;
        display: inline;
    }

}
